folium
streamlit-folium
Markdown
markdown-it-py
MarkupSafe
matplotlib
numpy
oauthlib
openpyxl
pandas
pandas-profiling
streamlit
streamlit-apexjs
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly
plotly-express
scikit-learn
seaborn
pandas-profiling
scikit-learn
scipy
seaborn
streamlit-extras
streamlit-card
decorator
deprecation
numpy
oauthlib
statsmodels
streamlit-folium
scikit-learn
openpyxl



openpyxl
opt-einsum

numerize==0.12